<nav>
  <a href="/">Home</a>
  |
  <a href="/recipes">Recipes</a>
  <% if (currentUserId) { %>
    |
    <a href="/recipes/new">Add recipe</a>
    |
    <a href="/favourites">Favourites</a>
    |
    <a href="/meal-plan">Meal plan</a>
    |
    <a href="/profile">Profile</a>
    |
    <span>Signed in as <%= username || 'user' %></span>
    |
    <form action="/logout" method="post" style="display:inline;">
      <button type="submit">Log out</button>
    </form>
  <% } else { %>
    |
    <a href="/login">Login</a>
    |
    <a href="/register">Register</a>
  <% } %>
</nav>
<hr />
